main .new-users{
    margin-top: 1.3rem;    
}

main .new-users .user-list{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

main .new-users .user-list:hover{
    box-shadow: none;
}

@media screen and (max-width: 1200px) {
    main .new-users .user-list .user{
        flex-basis: 40%;
    }

    main .new-users .user-list .user{
        flex-basis: 40%;
    }

    
}

